<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <img src="https://i.imgur.com/lSZ4tZr.png" width="350">
        </div>
        <div class="row text-center">
            <img src="https://i.imgur.com/p5d2EqX.png" width="350">
        </div>

        <h4>Send Leonardo your message</h4>
        <form method="post">
            <div class="form-group">
                <label for="customer">Customer</label>
                <input type="text" class="form-control" cols="20" name="customer" name="customer" placeholder="C20000">
                <br>
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <textarea class="form-control" id="text" name="text" rows="4" cols="50" required></textarea>
            </div>
            <button type="submit" class="btn btn-default" formaction="/Message">Send Leo</button>
            <button type="submit" class="btn btn-default" formaction="/MessageWithAction">Send B1</button>
        </form>
    </div>
</body>

</html>