<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SAP Leonardo Image Tester</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link href="css/jquery.dm-uploader.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>

<body>
    <main role="main" class="container">
        <h1>LeoImg - SAP Leonardo Image Tester</h1>
        <p class="lead mb-4">
            Test here some capabilities of the SAP Leonardo ML APIs
        </p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div id="drag-and-drop-zone" class="dm-uploader p-5">

                    <div class="btn btn-primary btn-block mb-5">
                        <span>Select an image file </span>
                        <input type="file" id="imgInp" title='Click to add Files' />
                    </div>
                    <img id="blah" src="#" width="200" height="200" alt="no image" />
                </div>
                <!-- /uploader -->
                <div class="mt-2">
                    <button class="btn btn-primary" id="Similar">
                        Find Similar
                    </button>
                    <button class="btn btn-success" id="Categorize">
                        Categorize
                    </button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-header">
                        Result
                    </div>
                    <div class="card-block">
                        <table class="table .table-striped" id="resultTable">
                            <thead>
                                <tr>
                                    <th>No files uploaded.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /file list -->

        <div class="alert alert-info" role="alert">
            Get this app source code on
            <a href="https://github.com/Ralphive/leoImg">GitHub</a>
        </div>
        <div class="alert alert-warning">
            <pre>No JSON Response</pre>
        </div>
    </main>
    <!-- /container -->

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="js/jquery.dm-uploader.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>